services:
  db:
    image: postgres:17
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: trackit
      POSTGRES_PASSWORD: trackit_secret
      POSTGRES_DB: trackit
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
